<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portfoliofuncapp-erg3feb9hgbxchhk.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6eebe0e0-bd61-44bc-9b30-b63ab6276efc/resourceGroups/ProjectsRG/providers/Microsoft.Web/sites/Portfoliofuncapp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://portfoliofuncapp-erg3feb9hgbxchhk.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>